<br>
<h1>Editing post</h1>
<br>

<!-- Render the edit post form -->
<%= render 'form' %>

<!-- Links to go back or show this post -->
<%= link_to 'Back', posts_path %> |
<%= link_to 'Show', @post %>

